# General configuation
FLASK_APP=service_backend/autoapp.py

# Database configuration
DB_NAME=eosc_perf
DB_USER=mynonsuperuser
DB_PASSWORD=test123
DB_HOST=localhost

# Backend configuration
BACKEND_ENV=development
BACKEND_WORKERS=1
BACKEND_LOG_LEVEL=debug
SECRET_KEY=not-so-secret
OIDC_CLIENT_ID=your-oidc-client
OIDC_CLIENT_SECRET=your-oidc-secret
ADMIN_ASSURANCE=https://refeds.org/assurance/IAP/low
