# domain name
# set to localhost if developing locally
DOMAIN=perf.test.fedcloud.edu

# NGINX update credentials
NGINX_API_USER=user
NGINX_API_PASS=pass

# letsencrypt cert email
# you may leave this blank, but it is strongly recommended to add one
EMAIL=

# certbot staging mode
# Set to 1 if you're testing your setup to avoid hitting request limits
STAGING=0

# encryption key for flask session cookie encryption
# if the file is blank, a random key will be generated every instance and will not persist
# (leave this to default for docker)
EOSC_PERF_COOKIE_CRYPT_KEY_PATH=/run/secrets/cookie_secret

# EGI-AAI OIDC configuration
#  Client secret to use (leave this to default for docker)
EOSC_PERF_OIDC_CLIENT_SECRET_PATH=/run/secrets/oidc_client_secret
#  Application ID
EOSC_PERF_OIDC_CLIENT_ID=
#  List of admissible entitlements for administrator rights, JSON-array-formatted
EOSC_PERF_ADMIN_ENTITLEMENTS=["urn:mace:egi.eu:group:mteam.data.kit.edu:role=member"]

#  License text to display when uploading results
EOSC_PERF_LICENSE_FILENAME=upload_license.txt
#  Navbar-link to infrastructure manager
EOSC_PERF_INFRASTRUCTURE_HREF=https://example.com
#  Default path for the database
#  Note: this is relative to the python package folder (eosc_perf)
EOSC_PERF_DB_PATH=/app/data/sqlite.db

# Development options.
#  Enable debug mode.
#  DO NOT RUN THIS IN PRODUCTION!
EOSC_PERF_DEBUG=false
#  Reset the database on every launch
EOSC_PERF_DEBUG_DB_RESET=false
#  Populate the database with demo items (diagram, etc)
EOSC_PERF_DEBUG_DB_DEMO_ITEMS=false
#  Populate the database with filler items (good for testing filtering)
EOSC_PERF_DEBUG_DB_FILLER_ITEMS=false
#  Give admin rights to anyone logged in in debug mode
#  DO NOT RUN THIS IN PRODUCTION!
EOSC_PERF_DEBUG_LOGGED_IN_IS_ADMIN=false
# This is used instead of the regular admin_entitlements key, JSON-array-formatted
EOSC_PERF_DEBUG_ADMIN_ENTITLEMENTS=["urn:mace:egi.eu:group:mteam.data.kit.edu:role=member"]
