# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv*
/.env
/.env-backend

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# IDE files
.vscode/
workspace.code-workspace
.idea/

# Database files
*.db
*.db.*

# Secret files
cookie_secret.txt
database_secret.txt
nginx_api_credentials.txt

# Compiled documentation
docs/build/

backups/*
