debug: true
debug-db-reset: false
debug-db-dummy-items: true
admin_affiliations: ["example@kit.edu"]
debug_admin_affiliations: ["example2@kit.edu"]
oidc_client_secret: Enter secret here
oidc_redirect_hostname: "localhost"
upload_license_filename: "upload_license.txt"
infrastructure_href: "https://example.com"
database-path: "sqlite.db"
