Flask~=1.1.2
Flask-SQLAlchemy~=2.4.4
uWSGI~=2.0.19.1
Authlib~=0.14.3
requests~=2.24.0
requests-html~=0.10.0
markdown2~=2.3.9
aarc-g002-entitlement~=0.3.1
python-dotenv~=0.15.0
deprecated~=1.2.12
Jinja2~=2.11.3
