.footer {
    background-color: #f5f5f5;
}

.filter {
    display: flex;
    margin-top: 4px;
}

.filter * {
    flex: 5 1 0;
    min-width: 0px;
    width: unset;
}

.flex-horizontal {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.flex-horizontal * {
    flex-basis: 0;
}
