Flask~=2.0.1
Flask-SQLAlchemy~=2.5.1
uWSGI~=2.0.19.1
Authlib~=0.15.3
requests~=2.25.1
requests-html~=0.10.0
markdown2~=2.4.0
aarc-g002-entitlement~=0.3.1
python-dotenv~=0.17.1
deprecated~=1.2.12
Jinja2~=3.0.1
psycopg2~=2.8.6
