<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/overlay.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/utility.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <script>
        {# this must come before the rest of head, due to dependency order #}
        {% block content %}
        {% endblock %}
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="overlay">
        <div id="overlay-wrapper">
            <button type="button" class="close" aria-label="Close" onclick="$('#overlay').hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="overlay-text">
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">EOSC-PSE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Benchmark</a>
                            <a class="dropdown-item" href="/result_search">Result</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Submit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if logged_in %}
                            <a class="dropdown-item" href="/upload">Result</a>
                            <a class="dropdown-item" href="/add_benchmark">Benchmark</a>
                            {% else %}
                            <a class="dropdown-item" href="#" onclick="loginThenGoTo('/upload')">Result</a>
                            <a class="dropdown-item" href="#" onclick="loginThenGoTo('/add_benchmark')">Benchmark</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Instructions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <a class="dropdown-item" href="/instructions">Upload</a> -->
                            <a class="dropdown-item" href="/code_guidelines">Code Guidelines</a>
                        </div>
                    </li>
                    {% if admin %}
                    <li class="nav-item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/reports">View reports</a>
                                <a class="dropdown-item" href="/site_editor">Site Editor</a>
                                {% if debug %}
                                {% endif %}
                             </div>
                        </li>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{im_link}}">Infrastructure Manager</a>
                    </li>
                </ul>
                <!-- second nav bar -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                    {% if logged_in %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" onclick="logout()">Logout</a>
                            </div>
                        </li>
                    </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Not logged in
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" onclick="login()">Login</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        {% block pageContent %}
        {% endblock %}
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;
            <a href="mailto:{{ support_email }}" class="text-muted">Email Support</a>
        </div>
    </footer>
</body>

</html>
