<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <script src="static/scripts/jquery-3.5.1.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <script>
    {# this must come before the rest of head, due to dependency order #}
    {% block content %}
    {% endblock %}
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
    {% block info %}
    {% endblock %}
    </div>
</body>
</html>