{% extends "base.html" %}

{% block title %}Code Guidelines{% endblock %}

{% block info %}
    <h1>Code Guidelines</h1>
    <p>This is a dummy page. To change it update the templates/code_guidelines.html file.</p>
    <h2>Availability</h2>
    <p>The Benchmark has to be publicly available on <a href="https://hub.docker.com/">Docker Hub</a>.</p>
    <h2>Result Json</h2>
    <p>Below is a example JSON, which is containing the minimum set of required output parameters.</p>
    <div class="m-2">
        <code>
            <span style="white-space: pre-wrap;">{{ content }}</span>
        </code>
    </div>
{% endblock %}
