{% extends "base.html" %}

{% block title %}Benchmark speedup comparison graph{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="static/scripts/view/content.js"></script>
<script type="text/javascript" src="static/scripts/view/diagram.js"></script>
<style>
    .diagram-wrap { width: 80%; padding: 1em; }
    .flex-container { display: flex; align-items: center; }
    .fixed { }
    .flex-item { flex-grow: 1; }
    .result-info { font-size: 0.7em; padding: 0.25em; }
</style>
{% endblock %}

{% block content %}
function getData() {
return [
[
{{script_content|safe}}
]
];
}
{% endblock %}

{% block info %}
<h1>Diagram test page</h1>
<div class="flex-container">
    <div class="fixed">
        {{ page_content|safe }}
    </div>
    <div class="diagram-wrap flex-item">
        <canvas id="speedup">
        </canvas>
        <a href="#" id="download-button" download="diagram.png" class="button">Download as PNG</a>
        <a href="#" id="csv-button" download="data.csv" class="button">Download as CSV</a>
    </div>
</div>
</p>
{% endblock %}