{% extends "base.html" %}

{% block title %}Inspect Data{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/railscasts.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block info %}
    <h1>Result {{uuid}}</h1>
    <h4>Result content:</h4>
    <pre><code class="json">{{ content }}</code></pre>
{% endblock %}