{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block info %}
<h1>Privacy Policy</h1>
This privacy policy for the EOSC benchmark collection service is valid as of September 2020.
<h2>Service</h2>
The EOSC benchmark collection service (in the following referred to as the Service) allows users to collect, share, compare and download benchmark results
for the European Open Science Cloud (EOSC).
<h2>Data controller</h2>
[insert Data Controller and DC's Data Protection Officer here]
<h2>Jurisdiction and supervisory authority</h2>
The Service Provider is legally established in [insert country] and [country again] laws apply. The responsible data protection authority is [address].
<h2>Personal data</h2>
The Service collects three categories of personally identifiable data (in the following ocllectively the Personal Data):
<br>
A. Personal data retrieved from your Home Organisation:
<ul>
<li>Your unique user identifier (provided by the EGI Check-In system) if you have signed in</li>
<li>Your role in your Home Organisation (eduPersonAffiliation attribute)</li>
<li>Your full name</li>
<li>Your e-mail address</li>
</ul>
B. Personal data collected by the Service required for normal operation
<ul>
<li>Logfiles on the Service activity</li>
</ul>
C. Personal data collected by the Service that you provide
<ul>
<li>Benchmark results uploaded by you</li>
<li>Reports about inaccurate benchmarks you create</li>
</ul>
<h2>Purposes for processing data</h2>
Logs are retained and processed for the purposes of error resolution as well as performance evaluation.
Your mail address and name are stored for the purpose of handling reports you file and attributing results you upload.
<h2>Access, correction and deletion of data</h2>
If you wish to have your Personal Data collected by the Service deleted or changed, please collect the Data Protection Officer at [contact information].
If you wish to correct inaccurate data provided by your Home Organisation, please contact their IT help desk.
<h2>Withdrawal of consent</h2>
If you wish to withdraw your consent with regard to processing your user-provided Personal Data, please contact the Data Protection Officer at [contact information]
to have it deleted from the Service. Note that your results are still subject to the license you agreed to and as such may be retained and only have your personal
information removed.
<h2>Data retention</h2>
Uploader information associated with user-provided content is retained indefinitely and only deleted at user request, log data is erased after [insert time].
<h2>Data Protection Code of Conduct</h2>
Your Personal Data will be protected according to the Code of Conduct for Service Providers, a common standard for the research and higher education sector to
protect your privacy.
{% endblock %}