{% extends "base.html" %}

{% block title %}Review new site{% endblock %}

{% block head %}
{{ super() }}
<script src="static/scripts/view/site_review.js"></script>
{% endblock %}

{% block info %}
    <h1>Site review</h1>
    <p>
    New site: {{site_human_name}} ({{site_name}})
    <br>
    Description: {{site_description}}
    <br>
    Uploader: {{uploader_name}} ({{uploader_mail}})
    <br>
    Date: {{date}}
    </p>
    <form id="form" action="/site_review_submit" method="POST">
        <input type="hidden" name="uuid" value="{{ uuid }}" />
        <input type="submit" class="btn btn-danger" name="remove" value="Remove site" />
        <input type="submit" class="btn btn-success" name="approve" value="Approve site" />
    </form>
{% endblock %}