{% extends "base.html" %}

{% block title %}Upload Result{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
<script src="static/scripts/view/upload.js"></script>
<link rel="shortcut icon" href="">

<style>

</style>
{% endblock %}

{% block info %}
<div id="overlay">
    <div id="overlay-text"></div>
</div>
<div class="container">
    <h1>Upload Result</h1>
    <br>
    <form action="/upload_submit" name="form" enctype="multipart/form-data" method="POST" onsubmit="before_submit()">
        <label for="result_file">Please select result JSON file:</label>
        <input type="file" class="form-control-file" id="result_file" name="file" /><br>
        <label for="bm_selection">Select benchmark:</label>
        <select class="form-control" id="bm_selection" name="benchmark"></select><br>
        <label for="site_selection">Select execution site:</label>
        <select class="form-control" id="site_selection" name="site"></select><br>
        <label for="tag_selection">Select tags (hold control for multi-selection):</label>
        <select multiple class="form-control" id="tag_selection" name="tags"></select><br>
        <input type="submit" class="btn btn-success" name="upload" value="Upload"/>
    </form>
</div>

{% endblock %}