{% extends "base.html" %}

{% block title %}Upload Result{% endblock %}

{% block head %}
{{ super() }}
<script src="static/scripts/view/upload.js"></script>
{% endblock %}

{% block info %}
<input type="hidden" id="license" value="{{ license }}" />
<div class="container">
    <h1>Upload Result</h1>
    <br>
    <form action="/upload_submit" id="form" enctype="multipart/form-data" method="POST">
        <label for="result_file">Please select result JSON file:</label>
        <input type="file" class="form-control-file" id="result_file" name="file" /><br />
        <label for="bm_selection">Select benchmark:</label>
        <select class="form-control" id="bm_selection" name="benchmark"></select><br />
        <label for="site_selection">Select execution site:</label>
        <select class="form-control" id="site_selection" name="site"></select><br />
        <label for="tag_selection">Select tags (hold control for multi-selection):</label>
        <select multiple class="form-control" id="tag_selection" name="tags"></select><br />
        <label class="checkbox-label">
            <input class="checkbox" type="checkbox" value="" id="agreed_license" onclick="license_checkbox_click(this)"/>
            I have read and accept the <button type="button" class="btn btn-secondary" onclick="show_license()">license agreement</button>
        </label>
        <input type="submit" class="btn btn-success float-right mr-1" name="upload" value="Upload" id="submit_button" disabled/>
    </form>
</div>

{% endblock %}